.form-background{
  background: #ad5389;  
  background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  
  background: linear-gradient(to right, #3c1053, #ad5389); 
}
.form-button{

  background: #ad5389;
  padding:5px;
  color:white;
  border: none;
  width:5rem;
  border-radius: 3px;
}